.group-form-title {
  font-size: 24px;
  margin-bottom: 20px;
}

.group-form-section {
  margin-bottom: 30px;
}

.group-form-section h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

.group-form-section p {
  font-size: 16px;
  margin-bottom: 10px;
}

.group-location-input,
.group-name-input,
.group-description-textarea,
.group-type-select,
.group-privacy-select,
.group-image-url-textarea {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.group-form-list {
  margin-bottom: 10px;
}

.group-form-button {
  background-color: #414141;
  color: #fff;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.group-form-button:hover {
  background-color: #000000;
}

.error-message {
  font-size: 14px;
  margin-top: 5px;
}

/* Additional styling for select dropdown */
.group-type-select,
.group-privacy-select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='8' fill='%23000'%3E%3Cpath d='M6 8l6-8H0z'/%3E%3C/svg%3E");
  background-size: 12px 8px;
  background-repeat: no-repeat;
  background-position-x: 95%;
  padding-right: 30px;
  cursor: pointer;
}
